<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Use me to know your withdrawl</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Apka Withdrawl Money Kab tak aa Jaega??</h1>
        <form method="POST">
            <label for="date">Withdrawl Date (DD-MM-YYYY):</label>
            <input type="text" id="date" name="date" placeholder="DD-MM-YYYY" required><br>
            
            <label for="time">Withdrawl Time (HH:MM:SS):</label>
            <input type="text" id="time" name="time" placeholder="HH:MM:SS" required><br>

            <label for="hours">Isme 72 likhe:</label>
            <input type="number" id="hours" name="hours" required><br>

            <input type="submit" value="Calculate">
        </form>

        {% if new_datetime %}
            <h2 class="result">Apka Withdrawl Amount Iss Date Ke Pehle Tak Aaega: {{ new_datetime }}</h2>
        {% endif %}
    </div>
</body>
</html>
